
<footer id="footer" class="bg-black text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <h4 class="font-size-20">Mobile Shop</h4>
                <p class="font-size-14  text-white-50">
                    The mobile shop company website, create by php,
                    mysql database and bootstrap5.
                </p>
            </div>
            <div class="col-lg-4 col-12">
                <h4 class="font-size-20">Newslatter</h4>
                <form>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Enter your email">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary my-2">Subscribe</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-2 col-12">
                <h4 class="font-size-20">Information</h4>
                <div class="d-flex flex-column flex-wrap">
                    <a href="#" class="font-size-14 text-white-50 pb-1">About Us</a>
                    <a href="#" class="font-size-14 text-white-50 pb-1">Delivery Information</a>
                    <a href="#" class="font-size-14 text-white-50 pb-1">Privacy Policy</a>
                    <a href="#" class="font-size-14 text-white-50 pb-1">Terms & Conditions</a>
                </div>
            </div>
            <div class="col-lg-2 col-12">
                <h4 class="font-size-20">Account</h4>
                <div class="d-flex flex-column flex-wrap">
                    <a href="#" class="font-size-14 text-white-50 pb-1">My Account</a>
                    <a href="#" class="font-size-14 text-white-50 pb-1">Order History</a>
                    <a href="#" class="font-size-14 text-white-50 pb-1">Payment</a>
                    <a href="#" class="font-size-14 text-white-50 pb-1">Newslatters</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright text-center py-2">
    <p class="font-size-14 my-0">
        &copy; Copyrights 2023. Desing By <a href="https://www.facebook.com/hangduchuy/" class="color-second">HTH</a>
    </p>
</div>

