@model ShopConnection.LoaiSanPham
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<style>
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }
</style>
<body>
    <h3>chinh sua Loai san pham</h3>

    <div>
        @using (Html.BeginForm("Create", "LoaiSanPhamAdmin", FormMethod.Post, new { @style = "width: 50%; margin: auto" }))
        {
            <label for="fname">Mã Loai san pham</label>
            <input type="text" id="fname" name="MaNSX" placeholder="Nhập Mã Loai san pham..." required value="@Model.MaLoaiSP  readonly">

            <label for="lname">Tên Loai san pham</label>
            <input type="text" id="lname" name="TenNSX" placeholder="Nhập Tên Loai san pham..." required value=" = @Model.TenLoaiSP readonly ">

            <label for="country">Tình Trạng</label>
            <select id="country" name="TinhTrang" style="width: 20%" required>
                @if (Model.TinhTrang == "1")
                {
                    <option value="0">Chưa khóa</option>
                    <option value="1" selected>Đã khóa</option>
                }
                else
                {
                    <option value="0" selected>Chưa khóa</option>
                    <option value="1">Đã khóa</option>
                }

            </select>

            <input type="submit" value="Xac nhan chinh sua">
        }


    </div>
</body>

